 ##  <center>Edyoda Python Assignment </center>
### Assignment-1: Hackerrank Questions

#### Name : Dineshkumar G
#### Batch : DS140821
#### Instructor : Mohit Chouhan

#### 1) Finding the percentage

In [44]:
n = int(input())
student_dict={}
for i in range(0,n):
    student_details = input('').split(' ')
    student_dict[student_details[0]] = [float(i) for i in student_details[1:]]
name = input()
def average(student_dict,name):
    try:
        for key,value in student_dict.items():
            if key == name:
                print('{:.2f}'.format(sum(value)/len(value)))
            else:
                pass
    except:
        print('The name you entered is not found')

average(student_dict,name)

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
56.00

#### 2) String Split and Join

In [46]:
def split_and_join(line):
    result = ''.join(line.replace(' ','-'))
    return result
split_and_join('this is a string')

'this-is-a-string'

In [47]:
def split_and_join(line):
    splitted = line.split(' ')
    result = '-'.join(splitted)
    return result
split_and_join('this is a string')

'this-is-a-string'

#### 3)Set .intersection() Operation

In [12]:
n1 = int(input())
l1 = list(map(int,input().split(' ')))[:n1]
s1 = set(l1)
n2 = int(input())
l2 = list(map(int,input().split(' ')))[:n2]
s2 = set(l2)
intersect = len(s1.intersection(s2))
print(intersect)

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

#### 4)Find the Runner-Up Score!

In [14]:
n = int(input())
list_of_numbers = list(map(int,input().split(' ')))[:n]
first_max = max(list_of_numbers)

new_list = []
for i in list_of_numbers:
    if i == first_max:
        pass
    else:
        new_list.append(i)
second_max = max(new_list)
print(second_max)

5
2 3 6 6 5
5

#### 5)sWAP cASE

In [17]:
def swap_case(s):
    x = [i for i in s]
    new_list = []
    for i in x:
        if i.isupper():
            new_list.append(i.lower())
        elif i.islower():
            new_list.append(i.upper())
        else:
            new_list.append(i)
    return ''.join(new_list)
swap_case('Pythonist 2')

'pYTHONIST 2'

#### 6) Arithmetic Operators

In [19]:
a = int(input())
b = int(input())
print('{}\n{}\n{}'.format(a+b,a-b,a*b))

3
5
8
-2
15

#### 7) Python: Division

In [20]:
a = int(input())
b = int(input())
print('{}\n{}\n'.format(a//b,a/b))

3
5
0
0.6

#### 8) Python If-Else

In [21]:
n = int(input().strip())
if (n % 2 != 0) or (n % 2 == 0 and n in range(6,21)):
    print('Weird')
elif (n % 2 == 0 and n in range(2,6) or (n % 2 == 0 and n > 20)) :
    print('Not Weird')

3
Weird

#### 9) Nested Lists

In [35]:
n = int(input())
python_students = []
for i in range(0,n):
    name = input()
    mark = float(input())
    python_students.append([name,mark])
low_list = []
low_list_marks= []
first_low_grade = python_students[0][1]
for v in python_students:
    if v[1] < first_low_grade:
        first_low_grade = v[1]
    else:
        low_list.append(v)
        low_list_marks.append(v[1])
n_list1 = []
for i in low_list:
    if i[1]==first_low_grade:
        pass
    else:
        n_list1.append(i)
min_n = n_list1[0][1]
for i in n_list1:
    if i[1] < min_n:
        min_n = i[1]
for i in sorted(n_list1):
    if i[1]==min_n:
        print(i[0])

4
Hina
20
Shina
20.1
Mina
20.01
Tina
20.001
Tina

#### 10) Loops

In [76]:
n = int(input())
for i in range(0,n):
    print(i**2)

5
0
1
4
9
16

#### 11) Write a function

In [78]:
def is_leap(year):
    leap = False
    if (year%100 == 0): 
        if year %400 ==0:
            leap = True
    elif year%4==0:
        leap = True
    return leap
is_leap(1990)

False

#### 12) Find a string

In [18]:
def count_substring(string, sub_string):
    n = len(string)
    count=0
    for i in range(0,n):
        if string[i:].startswith(sub_string):
            count+=1
    return count

In [19]:
count_substring(string='ABCDCDC',sub_string='CDC')

2

#### 13) Lists

In [17]:
n = int(input())
list1 = []
for i in range(n):
    list_operations = input().split()
    if list_operations[0]=='append':
        #append
        for i in list_operations[1:]:
            list1.append(int(i))
    elif list_operations[0]=='insert':
        #insert
        index = int(list_operations[1])
        list1.insert(index,int(list_operations[2]))
    elif list_operations[0]=='print':
        #print
        print(list1)
    elif list_operations[0]=='remove':
        list1.remove(int(list_operations[1]))
    elif list_operations[0]=='sort':
        list1.sort()
    elif list_operations[0]=='pop':
        list1.pop()
    elif list_operations[0]=='reverse':
        list1.reverse()

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]